
doctype html
html
  head
    title Let's Chat

    link(rel='stylesheet', href='/stylesheets/style.css')

    // JQuery
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')

    // Socket.io client
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js')

    // Our code
    script(src="/javascripts/script.js")

  body
    block content
