doctype html
html(lang='en')
  head
    title Hello World!

    // Socket.io client
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js')

    // JQuery
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")

    // Bootstrap 3
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')

    // Bootstrap CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')

    // Our CSS
    link(rel='stylesheet', href='stylesheets/style.css')

    // Implement our random font pick
    if font
        link(href=font.link,rel='stylesheet')
        style
            | .heroHelloWorld {
            |  #{font.css}
            | }

  body
    div.container

        // Nav bar
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    a.navbar-brand(href="/") Hello World

                // Display admin controls if applicable
                ul.nav.navbar-nav.navbar-left
                    if authuser && authuser.role == 'Admin'
                        li(class=url.startsWith('/users/') ? "active" : "")
                            a(href='/users/') Manage Users

                // Display a greeting and logout button (if logged in and not on the logout page)
                ul.nav.navbar-nav.navbar-right
                    if !url.startsWith('/logout') && authuser
                        li.navbar-text
                            small Hello, #{authuser.name}
                        li
                            a(href="/logout") Logout

        block content










