doctype html
html
    head
        title The Amazing Number Cruncher
    body
        form(method="post", action=".")
            p Pick a number:
                input(type="text", name="num1")
            p Pick a second number:
                input(type="text", name="num2")
            p
                input(type="submit", value="Make Amazing Things Happen")
